{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/poem.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <title>My Poems </title>
</head>
<body>
    <section class="poems">
        <div class="poem" id="poem1">
          <h3>" हर्ष र शोकको कथा , मृत्यु "</h3>
          <p>मृत्यु न शोक्को कथा हो न हर्षको कहाँनी</p>
          <p>मृत्यु त गन्तब्य हो , जीवनको</p>
          <p>जुन अकाट्य छ र त्यती नै सत्य पनि</p>
          <p>जस्ले सुन्यता दर्साउँछ र पुर्णता पनि</p>
          <p>जसलाई गन्तव्य ठाने ,मुक्ति दिलाउँछ</p>
          <p>जसलाई भय ठाने ,भयावह बनाउँछ</p>
        </div>
      
        <div class="poem" id="poem2">
          <h3>" प्रिये "</h3>
          <p>सुन्दरताको त तिम्रो </p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>'उर्वशी' पनि </p>
          <p>तिम्रै सरी रूप पाएर आनन्दीत हुने गर्दछिन् </p>
          <p>मुस्कुराहटको  तिम्रो </p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>गंगा पनि </p>
          <p>तिम्रै मुस्कानमा मग्न भएर सलल बग्ने गर्दछिन् </p>
          <p>तिम्रो नित्य अनि स्वरको</p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>गन्दर्वहरु पनि तिमीलाईनै  देखि अचम्बित हुने गर्दछन।।</p>
          <p>मोहनीको के तिम्रो </p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>मायावी नयारण पनि  तिम्रै मोहपशमा भ्रमित हुने गर्दछन।।</p>
          <p>सरलताको तिम्रो</p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>सुनयताका प्रतीक महादेवले पनि तिम्रै सरालताकै वर्णन गर्दछन् ।।</p>
          <p>आचरणको त तिम्रो</p>
          <p>"के कुरा गर्नु ए प्रिये ?"</p>
          <p>ऋषिमुनि तिमीबाटै आचरणको  परम-ज्ञान प्राप्त गर्दछन्।।</p>
        </div>
      
        <div class="poem" id="poem3">
          <h3>" तिमी र म "</h3>
          <p>तिमी भयौ फुल </p>
          <p>तर </p>
          <p>म भने तिम्रो माली परे</p>
          <p>शब्द उनै भएपनि</p>
          <p>फरक </p>
          <p>पार्छ बोल्ने तरिकाले</p>
          <p>तिम्लाई सुगन्धको खाँचो पर्दा</p>
          <p>स्वयं</p>
          <p>पारिजातको पुष्प बनी मिर्मिरेमै झरीहालें </p>
          <p>मायाको भारीपनि बोकिराछु एकलै </p>
          <p>जस्तै</p>
          <p>डोकामाथि समान चुल्हाई ,बोक्या हुन्छन् भरियाले</p>
        </div>
      
        <div class="poem" id="poem4">
            <h3> " "</h3>
            <p>म आफू आफै , भित्र हराउँ </p>
            <p>म आफू आफ्नै ,क्रूरतासँग डराउँ </p>
            <p>सदा </p>
            <p>म आफूले आफैलाई भेटुँ </p>
            <p>सदा</p>
            <p>म आफूले आफ्नै गती देखु</p>
            <p>म आफूले आफ्नै भाग्य लेखुँ </p>
            <p>म आफूले आफ्नै शिखर भेटुँ</p>
            <p>म आफूले आफ्नै दुर्गति देखु</p>
            <p>म आफूले आफ्नै जन्म उदेश्य भेटुँ </p>
            <p>र अन्त्यमा म आफू आफै पूर्ण हुनेछु </p>
        </div>
      
        <div class="poem" id="poem5">
          <h3>'चिया र झरी'  अनि  'उनि र म'</h3>
          <p>मलाई उनि जत्तिकै नै </p>
          <p>वर्षा याम पनि मनपर्ने गर्दछ </p>
          <p>किनभने ' झरी र चिया '</p>
          <p>अनि</p>
          <p>' उनि र म '</p>
          <p> हामी एक अर्काकै पूरक हैं जस्तो लाग्छ</p>
          <p>जसरी अधुरो झरीको , चिसो मौसमलाई</p>
          <p>चियाले पूर्णता प्रदान गरिदिन्छ।</p>
          <p>त्यसरी नै आधा-अधुरो मलाई </p>
          <p>उनको साथले मात्रै  पूर्णता प्रदान गर्न सक्छ</p>
        </div>
      
        <div class="poem" id="poem6">
          <h3>मृत्यु</h3>
          <p>यसो कहिले कताना सोच्ने गर्छु</p>
          <p>किन यो जीवन ?</p>
          <p>किन त्यो मृत्यु ?</p>
          <p>किन त्यो मोह ?</p>
          <p>किन यो त्रास ?</p>
          <p>प्रारम्भ अपूर्ण भएकाले होला</p>
          <p>सबैलाई पूर्णता प्रदान गर्न</p>
          <p>मृत्यु आउँने गर्दछ</p>
          <p>तर  हामी भने त्यही मृत्युसँग</p>
          <p>' किन डराई रहेछौं खै ? '</p>
          <p>मृत्युका लागि मात्रै जन्मिनु किन ?</p>
          <p>जन्म पश्चात् नै मृत्यु आउँछ किन ?</p>
          <p>मृत्यु नै अन्तिम सत्य कुरा</p>
          <p>तर मृत्यु देखिनै त्रसित छु म किन ?</p>
        </div>
      
        <div class="poem" id="poem7">
          <h3>Moon and its human form</h3>
          <p>Nowdays ,</p>
          <p>I Don't stare at the moon during midnight</p>
          <p>Because </p>
          <p>I don't want to be reminded by it's beautiful human form </p>
          <p>Which  </p>
          <p>I used to adore more than anything </p>
          <p>And</p>
          <p>I still adore it more than anyone </p>
          <p>Which </p>
          <p>I don't want to adore anymore</p>
        </div>
      
        <div class="poem" id="poem8">
          <h3>खै कसो</h3>
          <p>यसो गरु, त्यसो गरु</p>
          <p>खै कसो गरु म अब</p>
          <p>हुन्छ यस्तो, सोचहरुकाे सागरमा डब्छु म जब।।</p>
          <p>यता पोखु , त्यता पाेखु</p>
          <p>खै कता पेाखु म अब </p>
          <p>गुम्सिएका मन ,भित्रका वेदना पोखु म कता।।।</p>
          <p>यता जाउँ ,त्यता जाउँ </p>
          <p>खै कता जाउँ म अब</p>
          <p>हुन्छ यस्तो,जीवनको मार्गको गन्तव्य पत्तो नहुँदा।।</p>
          <p>यसको सुनु, त्यसको सुनु</p>
          <p>खै कसको सुनु म अब</p>
          <p>हुन्छ यस्तो, सुनसान घडीमा कान् मेरो गुन्जिदा।।</p>
        </div>
      
       
      
        <div class="poem" id="poem9">
           <h3> आत्तुरी </h3>
            <p>भक्खर जन्मिएको मलाई रुनै आत्तुरी भयो।</p>
            <p>म रोएँ!</p>
            <p>अरूले मलाई चुप् लगाउनै आत्तुरी भयो।</p>
            <p>म चुप् भए!</p>
            <p>अरूलाई फेरि मलाई रुवाउनै आत्तुरी भयो।</p>

            <p>म पढ्दै थिए!</p>
            <p>तब मलाई खेल्नै आत्तुरी भयो।</p>
            <p>म खेल्दै थिए!</p>
            <p>तब मलाई विश्रामका लागि आत्तुरी भयो।</p>
            <p>मैले विश्राम गरे!</p>
            <p>अनि जिन्दगीको भागा-भागमा दगुर्नै आत्तुरी भयो।</p>

            <p>म जन्मिएँ!</p>
            <p>मलाई हुर्रकिनै आत्तुरी भयो।</p>
            <p>म हुर्रकिए!</p>
            <p>मलाई जीवन सँगै गुर्किनै आत्तुरी भयो。</p>
            <p>म जीवन सँगै गुर्किए!</p>
            <p>जीवनसँग गुर्किदै बुढेसकाल पुगे पश्चात्</p>
            <p>मलाई जीवनको भारबाट उम्किनै आत्तुरी भयो।</p>
            
        </div>

        <div class="poem" id="poem10">
            <h3> " "</h3>
            <p>मनले घर सम्झी अतालिने गर्छ</p>
            <p>खै के अत्यार मेटिन्थ्यो र फोटो हेरेर</p>
            <p>यदि यादहरु रोएरै मेटाउन सकिने भए</p>
            <p>पक्कै रुने थिए म धोको फेरेर।</p>

            <p>फेरि रुनलाई पनि स्वतंत्र रैनछ यहाँ</p>
            <p>छोरा मान्छे होस् भन्दै चुप्प गराइन्छ</p>
            <p>मन प्रत्येकको एउटै त होलानी तर</p>
            <p>किन पुरुषलाई आसुँ रोक्न बाध्य बनाइन्छ।</p>
        </div>

        <div class="poem" id="poem11">

            <h3> " "</h3>
            <p>सँगै साथमै सात जुनी कटाउने वाचा</p>
            <p>टुट्ने मन टुटी गयो, के को बाँकी आश</p>
            <p>प्राण बाँकी रहे पनि, तन जस्तै लाश</p>
            <p>पहिलेकी प्रिए मेरी, आज भइनेऊ खास</p>

            <p>अझैपनि भन्नुपर्दा, यो मन तिम्रै दास</p>
            <p>मन अडाउने सिन्कलाई कति भाच्छेऊ भाँच</p>
            <p>अझै खाली मन मेरो, ताण्डव गर्दै नाँच</p>
            <p>फुलसरी जवन मेरो, गरिदेऊ सर्वनाश</p>

        </div>

        <div class="poem" id="poem12">

            <h3> " "</h3>
            <p>आज पूर्णिमाको दिन</p>
            <p>चन्द्र, उदाएको छ</p>
            <p>सधैकी राम्री तिमीलाई</p>
            <p>फुलबुट्टे सारीमा, झन् सुहाको छ।</p>

            <p>आज तिम्लाई भेट्ने दिन</p>
            <p>हृदय, रमाएको छ</p>
            <p>मधुर तिम्रो बोली अनि</p>
            <p>मन् पगाल्ने मुस्कान, झन् मिठाएछ।</p>

        </div>

        <div class="poem" id="poem13">

            <h3>मुक्ति</h3>

            <p>म वायु बनु</p>
            <p>म भूमि बनु</p>
            <p>म धुनी बनु</p>
            <p>म ध्वनि बनु</p>
            <p>म शब्द बनु, हृदयमा गुन्जियु</p>
            <p>त्यो दिन, जब म मुक्त हुनेछु।</p>

            <p>म मुक्त हुनेछु</p>
            <p>पिंजडाको कैद सुँगा जस्तै</p>
            <p>जिन्दगीमा कैद प्राण बाट</p>
            <p>रुनेछन्, कराउनेछन् इस्टहरु</p>
            <p>तर म सम्म आवाज पुग्नेछैन।</p>

            <p>रोलान् गगन</p>
            <p>सुम्सुम्याउलान जलका थोपाहरुले</p>
            <p>भुनभुन्यौलान् बतास</p>
            <p>गुन्गुन्यौलान ध्वनि बिचराहरूले</p>
            <p>तर त्यो दिन, म सम्म आवाज पुग्ने छैन</p>
            <p>किन कि त्यो दिन, म मुक्त हुनेछु。</p>
        </div>

        <div class="poem" id="poem14">

            <h3>नसकिएका कुराहरू</h3>

            <p>सोचलेनै फेरि सोच्न बाध्य बनाएपछि</p>
            <p>सोचेकै कुराहरूमा गम्भीर हुन सकिएन।</p>

            <p>खोजलेनै फेरि खोज्न बाध्य बनाएपछि</p>
            <p>खोजेकै कुराहरुलाई पहिचान गर्न सकिएन।</p>

            <p>(रोजाई) रोजले नै फेरि रोज्न बाध्य बनाएपछि</p>
            <p>रोजेकै कुराहरुमा आनन्दीत हुन सकिएन।</p>

            <p>भोगलेनै फेरि भोग गर्ने लत लगाए पछि</p>
            <p>भोगिसकेका कुराहरु त्यागी सात्विक हुन सकिएन।</p>

            <p>जीवन अनी सोचको झगडा परिसके पछि</p>
            <p>जिन्दगीले हिँड्न बाध्य बनाएको मार्ग परिवर्तित गर्न सकिएन。</p>
        

        </div>  


        <div class="poem" id="poem15">

            <h3>उनी र प्रेम</h3>

            <p>प्रेमलाई आमाको ममता र बाबाको काधका रूपमा बुझेको मलाई</p>
            <p>स्त्री संगपनि प्रेम हुन सक्छ है भन्नेकुरा के थाहा</p>
            <p>यो कुरा मलाई तब थाहा भो</p>
            <p> जब मैले मेरी उनीलाई देखेँ</p>
            <p>उनका ति मृगनयनीहरुमा </p>
            <p>जब म आफुले आफैलाई नै देखें</p>
            <p>आज सम्म अपूर्ण रहेको मेरो मुटु बिस्तारै पुर्ण हुन पुग्यो </p>
            <p>जब मैले उनीलाई देखे</p>
            <p>सम्पूर्ण रहेका परम्ब्रहमा पनि अपूर्ण हुन पुगे</p> 
            <p>जब उनले हामिलाई देखे</p>

            <p>मेरा मनमा रहेका अपूर्ण सोचहरु सम्पुर्ण हुँदै गए </p> 
            <p>जब मैले उनीलाई देखे</p>
            <p>फेरी अचानक, म आफू आफ्फै अपूर्ण हुँदै गए </p>
            <p>जब उनीले मलाई देखिनन्</p>
            <p>कस्लाई कस्लाई खोजिरहेका उनका आँखाहरूले </p>
            <p>मलाई खोजेका रैनछन भने</p>
            <p>मेरो मुटुले उनीलाई रोजेको बिपरित </p>
            <p>उनको मुटुले अरु कसैलाई रोज्यो भने</p>
            <p>उनीलाई देख्दा रमाइरहेको मेरो मन </p>
            <p>केही कारणवस रमाउनै पाएन भने</p>

            <p>बत्तीस गुणहरूमध्ये, एकतीस गुणले भरिपूर्ण मेरी उनीलाई </p> 
            <p>अरु कसैले लगिदियो भने </p>
            <p>म त जीवनभर अपूर्ण नै रहने छु।</p>

        </div>
      </section>

</body>

</html>